<!DOCTYPE html>
<html layout:decorate="~{layouts/application.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Create</title>
</head>
<section layout:fragment="content">
    <h1>Создать новую статью</h1>
    <form action="/articles" method="post">
        <div class="mb-3">
            <label>Название</label>
            <input class="form-control" name="title" type="text">
        </div>
        <div class="mb-3">
            <label>Содержание</label>
            <textarea class="form-control" cols="80" name="body" rows="20" type="text"></textarea>
        </div>
        <div class="mb-3">
            <select class="form-control" name="categoryId">
                <option th:each="category : ${categories}" th:text="${category.name}"
                        th:value="${category.id}"></option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Создать</button>
    </form>
</section>
